body {
  background-color: #ebf2f5;
  font-family: "Times New Roman", Times, serif;
}

.head {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  margin-left: 30px;
}

.dropdown {
  font-size: 19px;
  background-color: white;
  border: none;
  height: 25px;
  width: 370px;
  margin-top: 46px;
  margin-right: 30px;
  box-shadow: rgba(114, 114, 114, 0.1) 0px 7px 29px 0px;
  font-family: "Times New Roman", Times, serif;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: black;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  box-shadow: rgba(114, 114, 114, 0.1) 0px 7px 29px 0px;
  height: 370px;
  width: 300px;
  position: relative;
}

.title {
  margin-bottom: -10px;
}

.author {
  margin-bottom: 40px;
  font-style: italic;
}

.description {
  margin-bottom: 30px;
  font-size: large;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: rgb(214, 214, 214);
  border: none;
  height: 25px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  bottom: 15px;
}

.btn:hover {
  background-color: rgb(72, 72, 72);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
